@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */


header .nav {
  min-height: 80px;
  overflow: none;
  background-color: #fff;
}

header .logo h2,
header .logo p {
  font-size: 16px;
  display: block;
}

header .logo .icono {
  color: #bfbfbf;
}

header .logo svg {
  width: 20px;
  height: 20px;
}

header .logo p {
  color: #777;
}

header .menu .c1 {
  background-color: #3da5e2;
}

header .menu .c2 {
  background-color: #005385;
}

header .menu .c3 {
  background-color: #003855;
}

header .menu .c1:hover {
  background-color: #1ba0ef;
}

header .menu .c2:hover {
  background-color: #00426a;
}

header .menu .c3:hover {
  background-color: #002d44;
}

/* MAIN */
/* Portafolio */
.portafolio {
  border-top: 5px solid #3da5e2;
  background-color: #fff;
}

.portafolio .titulo {
  color: #3da5e2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
  max-height: 180px;
  overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
  background-color: #3da5e2;
  display: inline-block;
}

.portafolio .galeria .contenedor-imagen a:hover img {
  opacity: 0.3;
}

/* Ventana Modal */
.modal-dialog {
  max-width: 800px;
}

/* Acerca de */

.acerca-de .foto img {
  width: 75%;
}

.acerca-de .foto .nombre {
  color: #545454;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
}

.acerca-de .info .titulo {
  color: #005385;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px;
}

.acerca-de .info .resumen {
  letter-spacing: 1px;
}

.acerca-de .info .label {
  font-size: 18px;
  font-weight: 600;
  color: #005385;
  margin-bottom: 10px;
}

.acerca-de .info .progress {
  background-color: #005385;
  border-radius: 0;
  height: 25px;
}

.acerca-de .info .progress .progress-bar {
  background-color: #3da5e2;
  line-height: 25px;
  padding-left: 20px;
}

/* Contacto */

.contacto {
  border-top: 1px solid #cbcbcbcb;
  border-bottom: 1px solid #cbcbcbcb;
}

.contacto .titulo {
  color: #003855;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea {
  padding: 15px;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.contacto .formulario textarea {
  min-height: 150px;
  max-height: 250px;
}

.contacto .formulario .boton {
  background-color: #3da5e2;
  border: none;
  padding: 7px 30px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: auto;
  border-radius: 3px;
}

.contacto .formulario .boton:hover {
  background-color: #1ba0ef;
}

/* FOOTER */

.redes-sociales {
  padding: 40px 0;
  margin-bottom: 40px;
}

.redes-sociales .icono {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #cbcbcb;
  margin: 0px 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: all 3s ease;
}

.redes-sociales .icono svg {
  width: 40px;
  height: 40px;
}

.redes-sociales .twitter {
  background-color: #1da1f2;
}

.redes-sociales .github {
  background-color: #000;
}

.redes-sociales .linkedin {
  background-color: #2867b2;
}